# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
